<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nav.css">
    <title>MySoundBoard</title>
</head>
<header>
    <h1>MySoundBoard</h1>
    <nav>
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="exo1.html">connecter</a></li>
            <li><a href="https://google.fr">En savoir plus</a></li>
        </ul>
    </nav>
    <div id="searchbar">
    
        <h2>Donnez un titre ou un groupe</h2>
        <form action="" class="formulaire">
            <input class="champ" type="text" value="Musique, artiste,..." />
            <input type="image" id="image" alt="Login" src="boutton.png">
    
        </form>
    </div>



</header>


<body>

</body>

</html>